.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.github/
.pytest_cache/
.tempmediaStorage/
*.log
*.ipynb_checkpoints/
credit_risk_notebook.ipynb
scratch/
tests/
prometheus/
grafana/
docker-compose*.yml
